@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  html {
    scroll-behavior: smooth;
  }

  section{
    padding: 100px 20px;
    min-height: 100vh;
  }

  #home{
    background-color: black;
  }

  #about {
    background: black;
  }

  #skills {
    background: #ccc;
  }

  #projects {
    background: black;
  }
  